.input {
    transition: width .35s linear;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    width: 150px;
    background-color: #dddddd;
  }
  
  .inputFocused {
    width: 240px;
  }
  
  
  .homeBox{ 
      width: 100%; padding-top: 0px; height: 100%; display: flex; position: relative; 
      flex-direction: column; justify-content: flex-end; align-items: center;
  }
  .homeIco1{position: absolute; top:36vh; right: 38.5vw; background: url('../assets/homeIco_1.png') no-repeat center center; width: 1vw; height: 2vw;
      background-size: 100% auto;
      animation:ico1 1.5s infinite;
      -webkit-animation:ico1 1.5s infinite; /*Safari and Chrome*/
  }
  .homeIco2{position: absolute; top:40vh; right: 14vw; background: url('../assets/homeIco_2.png') no-repeat center center; width: 3vw; height: 3vw;
      background-size: 100% auto;
      animation:ico2 3s ease-in-out infinite;
      -webkit-animation:ico2 3s ease-in-out infinite; /*Safari and Chrome*/
  
  }
  .homeIco3{position: absolute; top:28vh; right: 8vw; background: url('../assets/homeIco_3.png') no-repeat center center; width: 3vw; height: 5vw;
      background-size: 100% auto;
      animation:ico3 1.5s infinite;
      -webkit-animation:ico3 1.5s infinite; /*Safari and Chrome*/
  }
  .homeIco4{position: absolute; top:31vh; right: 21vw; background: url('../assets/homeIco_4.png') no-repeat center center; width: 2vw; height: 4vw;
      background-size: 100% auto;
  }
  .homeIco5{position: absolute; top:33vh; right: 42vw; background: url('../assets/homeIco_5.png') no-repeat center center; width: 3.5vw; height: 4vw;
      background-size: 100% auto;
      animation:ico5 1.5s infinite;
      -webkit-animation:ico5 1.5s infinite; /*Safari and Chrome*/
  }
  .homeIco6{position: absolute; top:16vh; right: 50vw; background: url('../assets/homeIco_6.png') no-repeat center center; width: 4vw; height: 13vw;
      background-size: 100% auto;
      -webkit-transform-style:preserve-3d;
      -webkit-transform:rotateX(13deg);
      animation:ico6 2s linear infinite;
      -webkit-animation:ico6 2s linear infinite;
  }
  
  .homeInfo{position: absolute; top:14vh; left:10vw;}
  .homeInfo p{color: #FFF; font-size: 24px; font-weight: 400; margin-bottom: 1vh;}
  .homeInfo p span{font-size: 48px; font-weight: 400;}
  
  /* 二维码 */
  .homeIco7{  
      width: 530px;
      margin: 0 auto;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      animation: marquee 16s linear infinite;
      -webkit-animation:marquee 16s linear infinite ; /*Safari and Chrome*/
  }
  
  .homeIco7 span{ font-size: 0.9vw; font-weight: bold; margin-left: 2vw; }
      
  
  .homeListImg .homeItemImg img{width: 5vw;}  
  .homeListImg{ position: fixed; bottom: 10vw; z-index: 99999;}
  .homeListImg .homeItemImg{display: flex; justify-content: center; align-items: center;background: url('../assets/homeIco1.png') no-repeat center center; background-size: 100% auto; width: 10vw; height: 10vw;}
  
  .notice{
      position: absolute; top:3vh; right:30vw; background: url('../assets/homeIco2.png') no-repeat center center;
      background-size: 100% auto; width: 35vw; height: 4.5vw; z-index: 1000; display: flex; flex-direction: row;
      justify-content:flex-start; align-items: center;
  }
  
  
  .homeButton{ 
      position: absolute; top: 50vh; left: 12vw;
      background: url('../assets/a_button.png') no-repeat center center; background-size: 100% auto; box-sizing: border-box;
      width: 20vw; height: 10vw; text-align: center; color: #FFF; font-size: 2vw; font-weight: 400; padding-top: 3.5vw;
      letter-spacing:0.5vw; cursor: pointer;
  }
  
  .homeNextButton{
      background: url('../assets/home_next.png') no-repeat center center; background-size: 100% auto; box-sizing: border-box;
      width: 4vw; height: 4vw; margin-bottom: 20vh; cursor: pointer; display: flex; justify-content: center; align-items: center;
      -webkit-animation:homeNextButtonIco 1s infinite; /*Safari and Chrome*/
  }
  .homeNextButton img{ width: 2vw; height: auto;}
  .homeImg1,.homeImg2{position: absolute;top:1.5vw;  left: 51vw;}
  .homeImg1{
      background: url('../assets/homeMain.png') no-repeat left top;
       background-size: 100% auto;
       animation:bgSider 1s infinite linear;  width: 40vw; height: 40vw;  z-index: 1;
      -webkit-animation:bgSider 1s infinite linear; /*Safari and Chrome*/
  }
  .homeImg2{
      background: url('../assets/homeMain1.png') no-repeat left top;
       background-size: 100% auto;
        width: 40vw; height: 40vw; 
  }
  
  
  /* Make it move */
  @keyframes marquee {
      0%   { text-indent: 480px }
      100% { text-indent: -55em }
  }
  @-webkit-keyframes marquee {
    0%   { text-indent: 480px }
    100% { text-indent: -55em }
}
  
  @keyframes bgSider
  {
      0%   { opacity: 0; }
      50%{opacity: 1;}
      100%  { opacity: 0;}
  }
  
  @-webkit-keyframes bgSider /*Safari and Chrome*/
  {
      0%   { opacity: 0; }
      50%{opacity: 1;}
      100%  { opacity: 0;}
  }
  @keyframes ico1
  {    
     50% {transform: translateY(1vh);}
     100% {transform: translateY(0);}
  }
  @-webkit-keyframes ico1 /*Safari and Chrome*/
  {
     50% {-webkit-transform: translateY(1vh);}
     100% {-webkit-transform: translateY(0);}
  }
  @keyframes homeNextButtonIco
  {    
     0% {transform: translateY(-1.5vh) scale(1);}
     50% {transform: translateY(0) scale(0.9);}
     100% {transform: translateY(-1.5vh) scale(1);}
  }
  @-webkit-keyframes homeNextButtonIco /*Safari and Chrome*/
  {
     0% {transform: translateY(-1.5vh) scale(1);}
     50% {transform: translateY(0) scale(0.9);}
     100% {transform: translateY(-1.5vh) scale(1);}
  }
  @keyframes ico2
  {   
     50% {transform: rotate(360deg);}
     100% {transform: translateY(0);}
  }
  
  @-webkit-keyframes ico2 /*Safari and Chrome*/
  {
     50% {-webkit-transform: rotate(360deg);}
     100% {-webkit-transform: translateY(0);}
  }
  @keyframes ico3
  {    
     50% {transform: rotate(35deg);}
     100% {transform: translateY(0);}
  }
  
  @-webkit-keyframes ico3 /*Safari and Chrome*/
  {
     50% {-webkit-transform: rotate(35deg);}
     100% {-webkit-transform: translateY(0);}
  }
  @keyframes ico5
  {    
     50% {transform: rotate(35deg);}
     100% {transform: translateY(0);}
  }
  
  @-webkit-keyframes ico5 /*Safari and Chrome*/
  {
     50% {-webkit-transform: rotate(35deg);}
     100% {-webkit-transform: translateY(0);}
  }
  
  @keyframes ico6
  {    
      0%{transform:rotateX(13deg) rotateY(0deg); }
      100%{transform:rotateX(13deg) rotateY(360deg);}
  }
  
  @-webkit-keyframes ico6 
  {
      0%{-webkit-transform:rotateX(13deg) rotateY(0deg); }
      100%{-webkit-transform:rotateX(13deg) rotateY(360deg);}
  }
  